<!-- <script src="/js/lcl/bubbleCursor.js" type="text/javascript"></script> -->

<!-- banner 背景线条特效 -->
<!-- <script type="text/javascript" src="/js/lcl/vendors.js"></script>
<script type="text/javascript" src="/js/lcl/lineEffects.js"></script> -->

<!-- banner 背景线圆特效 -->
<div id="lineCircleWrapper">
    <div id="title">
        <h2>在美国的研究</h2>
        <h3>我们一起可以在学术界产生影响。</h3>
    </div>
    <canvas id="lineCircle" width="1950px" height="800px"></canvas>
    <canvas id="lineCircleBg" width="1950px" height="800px"></canvas>
</div>
<script type="text/javascript" src="/js/lcl/lineCircle.js"></script>
<script>
    var titleBg = document.getElementById("lineCircleWrapper");
    titleBg.style.width = "100%";
    titleBg.style.height = "100%";
    titleBg.style.zIndex= "0";
    document.getElementsByClassName("content-header")[0].appendChild(titleBg);
    // window.onresize = function(e){
    //     var titleBg = document.getElementById("titleBg_L");
    //     titleBg.style.width = "100%";
    //     titleBg.style.height = "100%";
    // }
</script>


<!-- 气泡粒子背景特效 -->
<canvas id="particle" class="particle"></canvas>
<script type="text/javascript" src="/js/lcl/particle.js"></script>

<% if (theme.mouseclickEffects == "fireworks") { %>
    <!-- 爆炸红心效果 -->
    <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
    <script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
    <script type="text/javascript" src="/js/lcl/mouse_firework.js"></script>
<% }else if(theme.mouseclickEffects == "text") {%>
    <!-- 点击文字  -->
    <script type="text/javascript" src="/js/lcl/mouse_text.js"></script>
<% }else if(theme.mouseclickEffects == "bubble") {%>
    <script>
    console.log(Particle)
    Particle.particleAddEvents("mousemove")
    
    </script>

<% } %>


